---
import Layout from "../../../../layouts/Layout.astro";
import prisma from "../../../../lib/prisma";
import CandidateProfilePicture from "../../../../components/CandidateProfilePicture.astro";
import { linkTypeToIcon } from "../../../../lib/icons";

export const prerender = false;

const { election, race, candidate } = Astro.params;

if (!election || !race || !candidate) {
  return Astro.redirect("/404");
}

const candidateData = await prisma.candidate.findFirst({
  where: {
    slug: candidate,
    race: {
      slug: race,
      election: {
        slug: election,
      },
    },
  },
  include: {
    profileImage: true,
    qualifications: { include: { qualificationType: true } },
    race: {
      include: {
        election: true,
        candidates: { include: { profileImage: true } },
      },
    },
    externalLinks: {
      include: { externalLinkType: true },
      orderBy: { externalLinkType: { value: "asc" } },
    },
    policyResponses: {
      include: {
        policyQuestion: true,
        clarifications: true,
      },
    },
  },
});

if (!candidateData) {
  return Astro.redirect("/404");
}

const otherCandidates = candidateData.race.candidates.filter(
  (c) => c.id !== candidateData.id,
);

const fullName = `${candidateData.firstName} ${candidateData.middleName ? candidateData.middleName + " " : ""}${candidateData.lastName}`;
---

<Layout title={`${fullName} | ${candidateData.race.election.name}`}>
  <main class="w-full px-4 py-8">
    <div class="grid grid-cols-1 items-start gap-6 md:grid-cols-12 md:gap-8">
      <div class="hidden md:col-span-1 md:block"></div>
      <div class="col-span-12 md:col-span-7">
        <h1 class="text-2xl font-bold text-gray-900 md:text-3xl">
          {candidateData.race.election.name}
        </h1>
        <div class="mt-6 flex w-full items-center space-x-6">
          <div
            class="border-primary z-10 h-23 w-23 shrink-0 overflow-hidden rounded-full border-8 bg-white md:h-30 md:w-30"
          >
            <CandidateProfilePicture
              candidate={candidateData}
              profileImage={candidateData.profileImage}
            />
          </div>
          <div
            class="bg-primary border-accent -ml-18 flex h-18 w-[90%] flex-col justify-center rounded-2xl border-6 border-l-0 px-4 font-bold text-white md:h-20 md:px-6"
          >
            <div class="ml-16">
              <h2 class="text-2xl md:text-3xl">{fullName}</h2>
              <p class="text-md md:text-lg">{candidateData.partyAffiliation}</p>
            </div>
          </div>
        </div>
        {
          candidateData.policyResponses.map(response => (
            <h2
          class="w-full content-end justify-end text-end text-xl font-semibold md:w-[90%] pt-4"
        >
          {response.policyQuestion.questionText}
        </h2>
        <div class="bg-primary h-1 w-full md:w-[90%]"></div>
        <p class="mt-4 w-full text-gray-700">
          {response.response}
        </p>
          ))
        }
       
      </div>
      <div
        class="bg-primary inset-x-auto order-last col-span-12 rounded-4xl py-4 md:order-0 md:col-span-4"
      >
        <div class="row-auto text-center text-3xl font-bold text-white">
          About
        </div>
        <div
          class="row-auto mx-auto mt-2 flex w-[90%] flex-col gap-2 rounded-4xl bg-white p-4"
        >
          <h2 class="text-2xl font-bold">Links</h2>
          <ul>
            <li>
              <a class="text-secondary underline" href="#">Campaign Website</a>
            </li>
          </ul>

          <div class="flex gap-1">
            {
              candidateData.externalLinks.map((externalLink) => {
                const Icon =
                  linkTypeToIcon[externalLink.externalLinkType.value];
                if (!Icon) {
                  return null;
                }
                return (
                  <a href={externalLink.hyperlink}>
                    <Icon />
                  </a>
                );
              })
            }
          </div>
        </div>
        <div class="row-auto text-center text-3xl font-bold text-white">
          Endorsements
        </div>
        <div
          class="row-auto mx-auto mt-2 flex w-[90%] flex-col gap-2 rounded-4xl bg-white p-4"
        >
          <ul>
            <li>
              <span class="font-medium">Jane Doe</span> - Local Business Owner
            </li>
            <li>
              <span class="font-medium">John Smith</span> - Community Organizer
            </li>
            <li>
              <span class="font-medium">Emily Johnson</span> - Teacher
            </li>
          </ul>
        </div>
      </div>
      <div
        class="bg-primary inset-x-auto order-last col-span-12 rounded-4xl py-4 md:order-0 md:col-span-4"
      >
        <div class="row-auto text-center text-3xl font-bold text-white">
          Other Candidates
        </div>
        <div
          class="row-auto mx-auto mt-2 flex w-[90%] flex-col gap-2 rounded-4xl bg-white p-4"
        >
          <ul>
            {
              otherCandidates.map((otherCandidate) => (
                <li>
                  <a
                    class="text-secondary flex items-center pl-2 underline"
                    href={`/elections/${election}/${race}/${otherCandidate.slug}`}
                  >
                    <div class="h-8 w-8 overflow-hidden rounded-full">
                      <CandidateProfilePicture
                        candidate={otherCandidate}
                        profileImage={otherCandidate.profileImage}
                      />
                    </div>
                    <span class="pl-2">
                      {otherCandidate.firstName} {otherCandidate.lastName}
                    </span>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </main>
</Layout>
